* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #0c0d0d;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

nav {
    height: 42px;
    background-color: #396a3e;
}

nav ion-icon {
    float: left;
    margin-left: 1.6%;
    padding-top: 4px;
}

nav h3 {
    float: right;
    text-transform: uppercase;
    padding-right: 1.6%;
    padding-top: 9px;
    letter-spacing: 0.33em;
    color: #6a3965;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 9px white, 0 0 9px white;
}

#header-title {
    margin-left: 1.6%;
    font-weight: normal;
    letter-spacing: 0.11em;
}

.transliterator {
    margin-left: 1.6%;
    margin-right: 1.6%;
}

.transliterator button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #396a3e;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0.5%;
    border-radius: 4px;
    vertical-align: top;
    margin-top: 4.5%;
    transition-duration: 0.4s;
    letter-spacing: 0.11em;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.transliterator button:hover {
    background-color: #6a3965;
    color: #fff;
}

.transliterator button:active {
    background-color: #6a3965;
    box-shadow: 0 3px #716d6d;
    transform: translateY(4px);
}

textarea {
    border: 3px solid #6a3965;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    -moz-appearance: none;
    resize: none;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
