<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transliterator</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <h3>TARTARIKA</h3>
</nav>
<header>
    <div>
        <h1 id="header-title">Yazu sistemanı alıştıru</h1>
    </div>
</header>
<div class="transliterator">
    <form action="/transliterator/changed" method="post">
        <label for="sourceText"/>
        <textarea class="col-4" rows="16" id="sourceText" name="sourceText" th:text="${source}" placeholder="Bu urında yazığız"></textarea>
        <button id="reset" onclick="clearContents(sourceText)">x</button>
        <button class="col-1" type="submit">ALIŞ</button>
    </form>

    <textarea class="col-4" rows="16" th:text="${converted}" id="resultText" name="resultText" readonly onabort="clearIfSourceNull()"></textarea>
</div>
</body>
<script>
    function clearContents(element) {
        element.value = '';
    }
</script>
</html>